body {
  background-color: black;
  background-color: oklch(14.8% 0.004 228.8);
  font-family: 'Lora', sans-serif;
}

/* ==========================================================================
   1. NAVIGATION
   ========================================================================== */

.header {
  padding: 18px 32px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-rat-logo {
  width: 28px;
  height: 28px;

  /* 这里是关键：设置你想要的 Logo 颜色 */
  background-color: oklch(87.2% 0.01 258.338);

  /* 把 SVG 作为遮罩引入 */
  -webkit-mask-image: url('./public/rat-fill.svg');
  mask-image: url('./public/rat-fill.svg');

  /* 控制遮罩的大小和位置，类似 background-size */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  /* 加上平滑过渡动画 */
  transition: background-color 0.3s ease;
}
/* 悬停时，只需要改变背景色，Logo 就跟着变色了！ */
.my-rat-logo:hover {
  background-color: #42b883; /* 比如变成 Vue 的主题绿 */
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 18px;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-link {
  color: oklch(70.5% 0.015 286.067);
  font-weight: 600;
  font-size: 16px;
}
.nav-link:hover {
  color: oklch(96.8% 0.007 247.896);
}
.icon {
  /* width: 18px; */
  display: flex;
  align-items: center;
}

/* ==========================================================================
   1. MAIN
   ========================================================================== */

.main {
  padding: 30px;
}

.rat {
  color: oklch(98.5% 0.002 247.839);
  font-size: 36px;
  max-width: 800px;
  margin: auto;
}
